@import "../../css/_colors.scss";


.no-select {
  user-select: none;
}
.MainMenu {
  display: grid;
    grid-template-columns: 1fr 6fr;
    font-size: 2rem;
    opacity: 1;
    background: $crosses;
    background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
    height: 7rem;
    text-transform: uppercase;
    color: white;
  
    >span {
      color: white;
      height: 7rem;
    }
    .circled {
      opacity: 0.6;
      margin-top: 1rem;
    }
  
    .circled::after {
      // gaelic football icon
      content: '\1F3D0';
      margin-right: 0rem;
      font-size: 4.5rem;
      padding-top: 4rem;
    }
  
    >span:first-child {
      margin-right: 1.4rem;
      margin-left: 1rem;
    }
  
    >span:last-child {
      float: right;
      // background: red;
      padding: 0.2rem 1rem 1rem 2rem;
      border-radius: 5rem;
      margin-right: 1.4rem;
    }
  
    .title {
      font-size: 3.2rem;
      margin: 0;
      margin-top: 2.2rem;
      color: #ffffff99;
      padding-bottom: 1rem;
  }
}
