@import "src/frontend/shared/css/_colors.scss";

.drawerCancel {
    margin: -23.8rem 1rem;
    width: 100%;
    background-color: white;
    border-radius: 2rem;

    .cancelForm {
        width: 90%;
        box-sizing: border-box;
        padding: 2rem;

        .drawer-content-row {
            align-items: center;
            text-align: center;
        }
    }
    
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        button {
            margin: 1rem;
            padding: 1rem 2rem;
            font-size: 2rem;
            border-radius: 1rem;
        }

        .btn-primary {
            background-color: $primary-color;
            color: white;
            border: none;
            span:first-child {
                flex-grow: 1;
                text-align: left;
                padding-left: 1rem;
            }
            span:last-child {
                padding-right: 1rem;
                font-size: 2.8rem;
            }
        }

        .btn-secondary {
            background-color: $secondary-color;  // Purple color
            color: white;
            border: none;
        }
    }
}
