.pitchView h2 {
    margin: 0;
    padding: 0;
    grid-template-columns: 220px auto;
    display: grid;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.pitchView h2>span {
    /** draw a left pointing arrow in the background using svg */
}
.pitchView div.fixturesHead {
    position: fixed;
    top: 7rem;
}
.pitchView div.fixturesArea {
    margin-top: 16rem; /* Adjust this value to match the header's height */
    padding: 20px;
    overflow-y: scroll; /* Enable vertical scrolling for content */
    height: calc(100vh - 40px); /* Adjust height based on header's height */
}
.pitchView h2>span:first-child {
    user-select: none;
    margin: 0;
    padding-right: 0 !important;
    /* draw a left pointing arrow in the background using svg */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='90' height='90' viewBox='-10 -15 120 120'%3E%3Cpolygon points='10,50 90,10 90,85' style='fill:rgb(104,124,104);stroke-width:0;stroke:rgb(0,0,0)' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
}

.pitchView h2>span:nth-child(2) {
    margin: 0;
    padding: 0;
    margin-right: 3rem;
    text-align: left;
}

.pitchView h2>span:hover {
    color: #777;
    cursor: pointer;
}