/*
To import, add the following to the top of your scss file:
@import "src/frontend/shared/css/_colors.scss";
*/
#allowClose {
  height: 3rem;
  margin: 6rem 2rem 2rem 2rem;
  width: 4rem; }

.pitchView {
  background: blue;
  height: 100%; }

.pitchView > div:nth-child(2) {
  position: absolute;
  margin-top: 14rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem; }

.pitchView > div:nth-child(2) > button {
  width: 100%;
  margin: auto;
  background-color: #91db8b;
  color: white;
  margin: auto;
  margin-bottom: 1rem;
  font-size: 3em;
  text-transform: uppercase; }

.pitchView h2 {
  margin: 0;
  padding: 0;
  grid-template-columns: 120px auto;
  display: grid;
  padding-left: 0 !important;
  padding-right: 0 !important; }

.pitchView h2 > span:first-child {
  user-select: none;
  margin: 0;
  padding-right: 0 !important; }

.pitchView h2 > span:nth-child(2) {
  margin: 0;
  padding: 0;
  font-size: 2.2rem;
  margin-right: 3rem;
  text-align: left; }

.pitchView h2 > span:hover {
  color: #777;
  cursor: pointer; }

.pitchView > div > div.fixturesBody {
  margin: 4rem 2rem; }

.pitchView > div.fixturesBody {
  top: 5rem;
  left: 0; }

.pitchView > div.fixturesBody .fixturesArea {
  /* Adjust this value to match the header's height */
  padding: 20px;
  overflow-y: scroll;
  /* Enable vertical scrolling for content */
  height: calc(100vh - 40px);
  /* Adjust height based on header's height */ }

.pitchView > div.fixturesBody .noFixtures {
  margin: 0 auto;
  padding: 3rem;
  font-size: 3rem;
  width: 100%;
  color: #0f280c;
  border-radius: 1rem;
  background-color: #93a291; }
