@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ddd;
  margin: 0;
}

h1 {
  font-size: 2rem;
}
.p-inputtext {
  background: #fafafa;
}
td {
  border: 1px solid #ddd;
}
