@charset "UTF-8";
/*
To import, add the following to the top of your scss file:
@import "src/frontend/shared/css/_colors.scss";
*/
.MobileSelect {
  grid-template-rows: 14rem auto; }
  .MobileSelect > section#cardArea {
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr; }
    .MobileSelect > section#cardArea > .card {
      font-size: 1.8em;
      max-height: 340px;
      min-height: 340px;
      background: #1a3018;
      margin: 1rem;
      border-radius: 0.6rem; }
      .MobileSelect > section#cardArea > .card table {
        width: 100%; }
      .MobileSelect > section#cardArea > .card table > tbody > tr > td {
        color: #666;
        padding: 0.4rem 0;
        vertical-align: top; }
      .MobileSelect > section#cardArea > .card table > tbody > tr > td:nth-child(1) {
        white-space: nowrap;
        font-size: 0.9em; }
        .MobileSelect > section#cardArea > .card table > tbody > tr > td:nth-child(1)::after {
          content: ":"; }
      .MobileSelect > section#cardArea > .card table > tbody > tr > td:nth-child(2) {
        text-align: left;
        font-weight: bold;
        color: black;
        width: 50%; }
        .MobileSelect > section#cardArea > .card table > tbody > tr > td:nth-child(2) .pills {
          white-space: wrap;
          display: grid;
          grid-gap: 0.1rem;
          grid-template-rows: 1fr 1fr 1fr;
          grid-template-columns: 1fr 1fr; }
        .MobileSelect > section#cardArea > .card table > tbody > tr > td:nth-child(2) .pill {
          text-align: center;
          font-weight: normal;
          margin: 0.2rem;
          font-size: 0.9em;
          padding: 0.1rem 0.2rem;
          color: white;
          background: #885ea3;
          border-radius: 0.4rem; }
      .MobileSelect > section#cardArea > .card .category h3::before {
        content: "🎽";
        margin-right: 1rem; }
      .MobileSelect > section#cardArea > .card .pitch h3::before {
        content: "🚩";
        margin-right: 1rem; }
      .MobileSelect > section#cardArea > .card > *:first-child > div:first-child {
        border-top-left-radius: 0.6rem;
        border-top-right-radius: 0.6rem;
        padding: 0.4rem 0 0.4rem 0;
        background: #1a3018; }
        .MobileSelect > section#cardArea > .card > *:first-child > div:first-child h3 {
          max-width: 340px;
          min-width: 340px;
          color: white;
          padding: 0;
          margin: 0;
          flex-grow: 1;
          font-weight: normal;
          text-transform: uppercase;
          font-size: 1.8rem;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          margin-left: 1rem; }
      .MobileSelect > section#cardArea > .card > *:first-child > div:nth-child(2) {
        margin: 1rem;
        margin-top: 0;
        background: #c9d1c8;
        border-top-left-radius: 0.4rem;
        border-top-right-radius: 0.4rem; }
    .MobileSelect > section#cardArea .card-empty {
      max-height: 340px;
      min-height: 340px;
      background: rgba(0, 0, 0, 0.05);
      border: 2px solid rgba(0, 0, 0, 0.2); }
