/*
To import, add the following to the top of your scss file:
@import "src/frontend/shared/css/_colors.scss";
*/
.fixturesHead {
  position: fixed;
  top: 13rem;
  left: 0;
  right: 0;
  z-index: 1000; }
  .fixturesHead h2 > span:first-child {
    font-size: 4rem; }
