# editor files
*~
\#*

# hidden config files
.clasp.json
node_modules
*superseded*
.parcel-cache

config/secret
/src/frontend/interfaces/player/watch/*
/src/frontend/interfaces/pitch/watch/
/src/frontend/interfaces/groups/watch/*

