# editor files
*~
\#*
dump/
# hidden config files
.clasp.json
node_modules
*superseded*
.parcel-cache

config/secret

src/stories/
src/interfaces/*/dist/
src/interfaces/*/watch/

dist
gg_env.sh
.aider*

src/backend/
versions/
storybook-static
.env
.kamal/
config
