@tailwind base;
@tailwind components;
@tailwind utilities;

/* Alternatively, adjust Tailwind's config to exclude certain paths */
@layer base {
    input[type="checkbox"] {
        @apply appearance-none;
    }

    h1 {
        @apply text-2xl font-bold mb-4;
    }

    h2 {
        @apply text-xl font-semibold mb-3;
    }

    h3 {
        @apply text-lg font-medium mb-2;
    }
}

.full-height {
  height: calc(var(--vh, 1vh) * 100);
}

body {
    background: #909f66dd;
    max-width: 1200px;
    margin: 0 auto;
}
* {
  -webkit-tap-highlight-color: transparent;
}
