@import "~/src/frontend/shared/css/_colors.scss";

body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: #a2a2a2;
}

table {
  width: 100%;
  border-collapse: collapse;
}

/* CSS for non-mobile devices */
@media screen and (min-width: 768px) {
  .mobile-warning {
      display: block;
      font-size: 24px;
      color: red;
      text-align: center;
      margin-top: 20px;
  }
}

/* CSS for mobile devices */
@media screen and (max-width: 767px) {
    .mobile-warning {
        display: none;
    }
}


#app {
  * {
    user-select: none;
  }

  
  h1,
  h2,
  h3 {
    width: 100%;
    text-transform: uppercase;
    margin: 0;
    user-select: none;
  }

  h1 {
    background: darken($pc, 40%);
    color: $pc-light-20;
    font-size: 3.2em;
    line-height: 7rem;
    padding: 0 0;
    letter-spacing: 0.12em;
    text-align: center;
    position: fixed;
    top: 0;
  }
  h2 {
    font-size: 1.8em;
    background: $pc-dark-10;
    color: white;
    line-height: 6rem;
    text-align: center;
  }

  h3 {
    color: #444444;
    background: $pc-light-40;
    line-height: 4rem;
    font-weight: normal;
  }

  .row {
    height: 4rem;
    border-bottom: 1px solid #ddd;
    width: 100%;
  }
  .ck-test132{
    background-color: red;
    
  }

  .drawer-header {
    background-color: $sc-dark-20;
    line-height: 6rem;
    color: white;
    padding-left: 1rem;
    text-transform: uppercase;
    border-top-left-radius: 1.6rem;
    border-top-right-radius: 1.6rem;
    font-size: 2.4rem;
    text-align: center;
  }

  button {
    padding: 1.6rem 0.6rem;
    min-width: 160px;
    border-radius: 0.8rem;
    &.enabled {
      cursor: pointer;
      background-color: darken($sc-dark-20, 30%);
      color: black;
    }
    &.disabled {
      cursor: not-allowed;
      background-color: #ddd;
      color: #444;
    }
  }

  .drawer-container {
    margin:0;
    &>div {
      margin: 2rem;
    }
  }

}


button {
  margin: 8px;
  padding: 25px;
  font-size: 32px;
}

input[type="number"] {
  width: 100%;
}

.hidden {
  display: none;
}

.submit-container,
#confirmation {
  margin-top: 20px;
  text-align: center;
}

table {
  width: 100%;
}


.hidden {
  display: none;
}

/* General styling for the select elements */
select {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
  display: block;
}