@import "src/frontend/shared/css/_colors.scss";

.SelectPitchView {
    display: grid;
    grid-template-rows: 3rem 3.4rem 10rem;
    .no-more-games {
      padding: 3.5rem;
      font-size: 2rem;
      text-align: center;
    }
    .play {
      text-align: center;
      text-transform: uppercase;
      font-size: 1.4rem;
      padding: 0.6rem;
      .nxt-match {
        display:grid;
        grid-template-columns: 70% auto;
        width: 100%;
        >span:nth-child(1) {
          text-align: left;
          b {
            margin-left: 0.5rem;
          }
        }
        >span:nth-child(2) {
          text-align: right;
        }
      }
    }
    .in-progress {
      background: $sc;
      color: white;
    }
    .next-up {
      background: desaturate($pc-light-20, 37%);
    }
    .details {
      display: grid;
      grid-template-columns: 100px auto;
      padding:0.5rem;
      font-size: 1.4rem;
      >div:first-child {
        font-weight: bold;
        &::before {
          margin-right:0.2rem;
        }
      }
      >div:nth-child(2) {
        text-align: right;
        &::after{
          content: '\1F3BD';
          margin-left:0.5rem;
        }
      }
    }
    .teams {
      text-align: center;
      font-size: 1.2rem;
      .team1, .team2 {
        padding:0.6rem; 
        font-size: 1.6rem;
        font-weight: bold;
      }
    }
}

.container {
    position: relative;
}
.container > * {
    position: absolute;
    right: 0;
    left:0;
}
.container > h2 {
    top: 19rem;
    margin-top: 3rem;
}

.container > div {
    top: 14rem;
}
.container > div > div {
    min-height: 15rem;
}

