/*
To import, add the following to the top of your scss file:
@import "src/frontend/shared/css/_colors.scss";
*/
.tournamentView {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 1fr 2.4fr;
  height: 100vh; }
  .tournamentView h4 {
    margin: 0;
    padding: 0;
    background: none; }
  .tournamentView article {
    display: grid;
    grid-column: 1 / -1;
    grid-gap: 0px;
    padding: 0px;
    background: #f8f8f8;
    align-items: start; }
    .tournamentView article h2 {
      writing-mode: vertical-lr;
      text-orientation: mixed;
      transform: rotate(180deg);
      background: #bbb;
      text-align: center;
      padding: 0;
      font-size: 2vh;
      grid-column: 1;
      grid-row: 1 / -1;
      margin: 0; }
    .tournamentView article section {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: auto 1fr; }
      .tournamentView article section h3 {
        background: #ccc;
        margin: 0 0 10px 0;
        padding: 0.5em; }
      .tournamentView article section > div {
        padding: 1em;
        height: 150px; }

.nextArea {
  border-radius: 0.3rem;
  background-color: #eee;
  line-height: 20px;
  height: 3rem; }
  .nextArea > div {
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.2fr 1fr;
    padding: 0.3rem;
    margin: 0.4rem 0; }
  .nextArea > div:first-child > span {
    margin-right: 0.1rem;
    padding: 0.2rem; }
  .nextArea span {
    text-align: center; }

.empty {
  border: 3px solid red;
  padding: 2rem;
  background: #ccc; }
