.updateFixture button {}

.updateFixture>div:first-child {
    width: 100%;
    margin: auto;
    
}
.updateFixture>div:first-child>div {
    display: grid;
    grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr;
}

/* DRAWERS */
.updateFixture>div.drawers {
    margin-top: 1rem;
    font-size: 1.7rem;
}

.scoresUpToDate {
    color: #777;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    text-align: center;
}

.updateFixture .header {
    color: red !important;
}