.TeamGroupings {
  table.p-datatable-table {
    td.p-editable-column:first-child {
      background: #eee;
      text-align: center;
    }
    td {
      padding: 0;
      line-height: 2.4rem;
    }
    .groupTeam {
      padding: 8px;
      width: 100%;
    }
  }
}
