@import "../../css/_colors.scss";

.no-select {
  user-select: none;
}
.MainMenu {
  > h1 {
    font-size: 2rem;
    height: 7rem;
    text-transform: uppercase;
    color: white;
    > span {
      color: white;
      height: 7rem;
    }
    .hamburger::after {
      // home icon
      margin-left: 1rem;
    }
    .circled {
      opacity: 0.6;
      margin-top:1rem;
    }
    .circled::after {
      // gaelic football icon
      content: '\1F3D0';
      margin-right: 0rem;
      font-size: 4.5rem;
      padding-top:4rem;
    }
    >span:first-child {
      margin-right: 1.4rem;
      margin-left: 1rem;
    }
    >span:last-child {
      float: right;
      // background: red;
      padding: 0.2rem 1rem 1rem 2rem;
      border-radius: 5rem;
      margin-right: 1.4rem;
    }
    .title {
      font-size: 3.3rem;
      margin:0;
      padding-bottom: 1rem;
    }
  }
}
