/*
To import, add the following to the top of your scss file:
@import "src/frontend/shared/css/_colors.scss";
*/
.no-select {
  user-select: none; }

.MainMenu > h1 {
  font-size: 2rem;
  height: 5rem;
  text-transform: uppercase;
  color: white; }

.MainMenu > h1 > span {
  color: white; }

.MainMenu > h1 .hamburger::after {
  content: '\1F3E0';
  margin-left: 1rem; }

.MainMenu > h1 .circled::after {
  content: '\1F3D0';
  margin-right: 1rem; }

.MainMenu > h1 > span:first-child {
  margin-right: 1.4rem;
  margin-left: 1rem; }

.MainMenu > h1 > span:last-child {
  float: right;
  padding: 0.2rem 1rem 1rem 2rem;
  border-radius: 5rem;
  margin-right: 1.4rem; }
