@import "../../css/_colors.scss";

$round: 0.6rem;
$cheight: 340px;
$cwidth: 340px;

$card-main: darken(desaturate($pc, 20%), 16%);
$card-back: lighten(desaturate($pc-light-40, 45%), 10%);

.MobileSelect {
  > section#cardArea {
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow-y: scroll;
    > .card {
      font-size: 1.8em;
      table { width: 100%; }
      table > tbody > tr > td {
        color: #666;
        // don't break lines;
        padding: 0.4rem 0;
        vertical-align: top;
      }
      table > tbody > tr > td:nth-child(1) {
        white-space: nowrap;
        font-size:0.9em;
        &::after {
          content:":";
        }
      }
      table > tbody > tr > td:nth-child(2) {
        text-align: left;
        font-weight: bold;
        color:black;
        width: 50%;
        .pills {
          white-space: wrap;
          display: grid;
          grid-gap: 0.1rem;
          grid-template-rows: 1fr 1fr 1fr;
          grid-template-columns: 1fr 1fr;
        }
        .pill {
          text-align: center;
          font-weight: normal;
          margin: 0.2rem;
          font-size: 0.9em;
          padding: 0.1rem 0.2rem;
          color: white;
          background: $sc;
          border-radius: 0.4rem;
        }
      }
      max-height: $cheight;
      min-height: $cheight;
      background: $card-main;
      .category h3::before {
        content: $utf-icon-category;
        margin-right: 1rem;
      }
      .pitch h3::before {
        content: $utf-icon-pitch; 
        margin-right: 1rem;
      }
      > *:first-child {
        > div:first-child {
          border-top-left-radius: $round;
          border-top-right-radius: $round;
          padding: 0.4rem 0 0.4rem 0;
          background: $card-main;
          h3 {
            max-width: $cwidth;
            min-width: $cwidth;
            color: white;
            padding: 0;
            margin: 0;
            flex-grow: 1;
            font-weight: normal;
            text-transform: uppercase;
            font-size: 1.8rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin-left: 1rem;
          }
        }
        > div:nth-child(2) {
          margin: 1rem;
          margin-top: 0;
          background: $card-back;
          border-top-left-radius: 0.4rem;
          border-top-right-radius: 0.4rem;
        }
      }
      margin: 1rem;
      border-radius: $round;
    }
    .card-empty {
      max-height: $cheight;
      min-height: $cheight;
      background: rgba(0, 0, 0, 0.05);
      border: 2px solid rgba(0, 0, 0, 0.2);
    }
  }
}
