/* MAIN CONTAINER */
.fixture > div {
    width: 100%;
    line-height: 8rem;
    background-color: white;
    margin: 0 0 9px 0;
    border-radius: 18px;
}

.fixture > div {
    display: grid;
    grid-template-columns: 10px 50px 80px minmax(0, 1fr) 100px minmax(0, 1fr) 100px;
    /* 1fr and 1fr will distribute the available space equally */
    width: 100%;
 }

.fixture > div > div {
    font-size: 25px;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fixture > div.teamName {
    padding: 0;
    margin: 0;
    background-color: red;
    
}

/* HEADER */
.fixture > div.header {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 2px ridge #344b32;
    background-color: #e6f1e6;
    border-radius: 0;
    padding: 0.4rem 1.3rem;
    width: 95%;
}
.fixture > div.header > div {
    
}

.fixture > div.header > div {
    font-size: 1.4em;
    line-height: 3rem;
}

.group> span {
    background: #b2cbb2;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 1px 3px;

}