/* MAIN CONTAINER */
.container > div {
    width: 100%;
    border-bottom: 1px solid #ccc;
    line-height: 5rem;
}

.container > div {
    display: grid;
    grid-template-columns: 80px 45px minmax(0, 1fr) 100px minmax(0, 1fr) 100px;
    /* 1fr and 1fr will distribute the available space equally */
    width: 100%;
 }

.container > div > div {
    font-size: 25px;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container > div.teamName {
    padding: 0;
    margin: 0;
    background-color: red;
    
}

/* HEADER */
.container > div.header {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 2px solid #ccc;
}
.container > div.header > div {
    font-size: 1.4em;
    line-height: 3rem;   
}


/* DRAWERS */
.container > div.header {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 2px solid #ccc;
}