// Variables for Colors
$primary-color: #84aa80;
$secondary-color: #6c757d;
$background-color: #f8f9fa;
$text-color: #333;
$mainColor: #84aa80;

// Typography
$font-family: Arial, sans-serif;
$font-size-base: 16px;

// Layout
$container-max-width: 1200px;

// Global Styles
body {
  font-family: $font-family;
  font-size: $font-size-base;
  color: $text-color;
  background-color: $background-color;
}

.container {
  max-width: $container-max-width;
  margin: 0 auto;
  padding: 20px;
}

a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

button {
  background-color: $primary-color;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family;
  width: 100%;
  text-transform: uppercase;
  margin: 0;
  user-select: none;
}

h1 {
  background: #344b32;
  color: $mainColor;
  font-size: 2.2em;
  line-height: 3rem;
  padding: 0 0;
  letter-spacing: 0.12em;
  text-align: center;
  position: fixed;
  top: 0;
  z-index: 100;
}

h2 {
  font-size: 30px;
  color: $primary-color;
}

h3 {
  font-size: 24px;
  color: $secondary-color;
}

h4 {
  font-size: 20px;
  color: $secondary-color;
}

h5 {
  font-size: 18px;
  color: $text-color;
}

h6 {
  font-size: 16px;
  color: $text-color;
}

// Add more styles as needed