@import "src/frontend/shared/css/_colors.scss";

body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  background: radial-gradient(circle at top center, #7bb294, $radial2 50%);
  min-height: 100vh; /* ensures full page height */
}

table {
  width: 100%;
  border-collapse: collapse;
}


