@import "src/frontend/shared/css/_colors.scss";

* {
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
}

.type-pitch {
  &::before {
    content: $utf-icon-pitch;
    margin-right: 0.3rem;
  }
}

.type-category {
  &::before {
    content: $utf-icon-category;
    margin-right: 0.3rem;
  }
}
