/*
To import, add the following to the top of your scss file:
@import "src/frontend/shared/css/_colors.scss";
*/
* {
  touch-action: manipulation; }

body {
  background: #8193a5;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  min-height: 100vh; }
