@charset "UTF-8";
/*
To import, add the following to the top of your scss file:
@import "src/frontend/shared/css/_colors.scss";
*/
* {
  font-family: Arial, Helvetica, sans-serif;
  user-select: none; }

.type-pitch::before {
  content: "🚩";
  margin-right: 0.3rem; }

.type-category::before {
  content: "🎽";
  margin-right: 0.3rem; }
