@import "src/frontend/shared/css/_colors.scss";

.drawerFinish {
    margin: -23.8rem 0;
    background-color: white;
    border-radius: 1.7rem;
    width: 100%;

    .scoreSelector {
        background-color: #d1c9d6;
        border-radius: 0.5rem;
        position: absolute;
        height: 46rem;
        padding: 0 1.5rem;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.3);
        &> div {
            display: grid;
        }
    }
}
.square {
    width: 100%; /* Make the squares expand to fill the available width */
    height: 100px; /* You can adjust the height as needed */
    border: 1px solid #000;
    display: flex;
    font-size: 2.4rem;
    background-color: $sc;
    color: white;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
}
.teamScore {
  > h4 {
    text-align: center;
    font-size: 3rem;
    color: $sc-dark-20;
    letter-spacing: 0.2rem;
    margin: 3rem 0 0 0;
    text-transform: uppercase;
  }
  .grayed-score {
    color: lighten($sc-light-40, 10%);
    font-weight: normal;
  }
  > div {
      display: grid;
      grid-template-columns: 0.20fr 0.03fr 0.32fr 0.45fr;
      grid-gap: 1rem;
      background-color: $sc-light-40;
      border: 1px solid #ccc;
      border-radius: 1rem;
      margin: 0.7rem 6em; 
      height: 11rem; 
      display: flex;
      align-items: center; /* Vertical center */
      justify-content: center; /* Horizontal center */
      .proceedButtons {
          color: $pc-dark-20;
          width: 100%;
          margin-left: 100px;
      }
      > div {
          font-size: 3.4rem;
          padding: 0 0.5rem;
          text-align: center;
          user-select: none;
          color: desaturate($sc-dark-20, 25%);
      }
    }
}
.drawerFinish div.proceedButtons {
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 0.7fr 0.7fr;
    button {
      background-color: white;
      padding: 2rem;
      font-size: 3.4rem;
      margin: 0.4rem;
      margin-top: 6rem;
      border-radius: 1rem;
      border: 2px solid gray;
    }
    button.enabled {
      background-color: $sc;
      color: white;
    }
}

