/*
To import, add the following to the top of your scss file:
@import "src/frontend/shared/css/_colors.scss";
*/
.drawerFinish {
  margin: 0.8rem 1.2rem;
  background-color: white;
  border-radius: 2rem;
  width: 100%;
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.3);
  min-height: 54rem;
  border: 4px outset #777; }
  .drawerFinish .scoreSelector {
    background-color: #d1c9d6;
    border-radius: 0.5rem;
    position: absolute;
    height: 46rem;
    padding: 0 1.5rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.3); }
    .drawerFinish .scoreSelector > div {
      display: grid; }

.square {
  width: 100%;
  /* Make the squares expand to fill the available width */
  height: 100px;
  /* You can adjust the height as needed */
  border: 1px solid #000;
  display: flex;
  font-size: 2.4rem;
  background-color: #885ea3;
  color: white;
  border-radius: 1rem;
  justify-content: center;
  align-items: center; }

.teamScore > h4 {
  text-align: center;
  font-size: 3rem;
  color: #523863;
  letter-spacing: 0.2rem;
  margin: 4rem 0 0 0;
  text-transform: uppercase; }

.teamScore > div {
  display: grid;
  grid-template-columns: 0.65fr 0.95fr;
  grid-gap: 1rem;
  background-color: #e8e0ed;
  border: 1px solid #ccc;
  border-radius: 1rem;
  margin: 1rem 14rem; }
  .teamScore > div .proceedButtons {
    color: #0f280c;
    width: 100%;
    margin-left: 100px; }
  .teamScore > div > div {
    font-size: 3.0rem;
    margin-top: 1rem;
    padding: 2rem 0.5rem;
    text-align: center;
    user-select: none;
    color: #4e4c4f; }

.drawerFinish div.proceedButtons {
  width: 100%;
  margin: 2rem 0 0;
  display: grid;
  font-size: 4rem;
  grid-template-columns: 0.8fr 0.8fr; }
