.ClockIcon {

}
.clock-layout-top {
  display: grid;
  grid-template-rows: auto auto;
  text-align:center;
  color:black;
}

.clock-layout-side {
  display: flex;
  align-items: center;
  /* This will vertically center the SVG and the text block */
  gap: 0.2rem;
  /* Optional: adds some space between the icon and the text */
}