@import "src/frontend/shared/css/_colors.scss";

// define col1 as yellow:
$c1: desaturate(darken(yellow, 30%), 10%);
$c2: desaturate(darken(blue, 30%), 10%);
$c3: desaturate(darken(magenta, 30%), 10%);

.focused {
    .focusedInfo {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
        &>div:first-child {
            font-size: 3.3rem;
            font-weight: bold;
            letter-spacing: 0.1rem;
            margin: 0;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 1rem;
            margin-top: -0.2rem;
            display: grid;
            width: 95%;
            grid-template-columns: auto auto;
            &>*:last-child {
                font-weight: normal;
                text-align: right;
                float: right;
            }
        }
        &>div:nth-child(2) {
            display: grid;
            grid-template-columns: 40% 20% auto auto auto;
            height: 90px;
            margin: 1rem;
            button {
                background-color: #ffffff33;
                border-radius: 1rem;
                font-size: 3rem;
                i {
                    font-size: 3rem;
                }
            }
        }
        .startTimeClock {
            svg {
                width: 100px;
                height: 100px;
                fill: $pc;
            } 
            > span {
                vertical-align: top;
                font-size: 4rem;
                line-height: 4rem;
                color: #888;
            }
        }
    }

    &>div {
        width: 100%;
        height: 800px;
        border-radius: 18px;
        display: grid;
        grid-template-rows: 11rem auto 12rem;
        row-gap: 2rem;
        width: 100%;
        padding-bottom: 0.4rem;
        &>div.prop-section{
            grid-template-rows: 7rem 7rem 7rem;
            display: grid;
            height: 500px;
            &>div {
                width: 100%;
            }
        }
        div.prop-umpires {
            color: white;
            background-color: $c1;
            i { 
                text-align: right;
                color: darken($c1, 10%)
            }
        }

        div.prop-referee {
            color: white;
            background-color: blue;
            background-color: $c2;
            i { 
                text-align: right;
                color: darken($c2, 10%)
            }
        }

        div.prop-pitch {
            color: white;
            background-color: $c3;
            i { 
                text-align: right;
                color: darken($c3, 10%)
            }
            button {
                background-color: lighten($c3, 20%);
                color: darken($c3, 20%);
            }
        }

        div.prop {
            text-align: center;
            padding: 1rem;
            width: 100%;
            text-transform: uppercase;
            border-radius: 0.5rem;
            letter-spacing: 0.2rem;
            margin: 0;
            margin-top: 1rem;
            button {
                border: none;
                font-size: 4rem;
                text-align: center;
                width: 70px;
                padding: 0rem;
                margin:0;
            }
            span {
                font-size: 2.2rem;
                display: grid;
                width: 100%;
                margin: 0;
                margin-top: 1rem;
                grid-template-columns: 200px auto 90px;
                &>i {
                    font-size: 1.8rem;
                }
                &>* {
                    text-align: left;
                }
            }
        } 
    }

}

.group>span {
    background: $pc-light-40;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 1px 3px;
}