.FixtureBar {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  background: darken(#ddff718a, 45%);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 1px solid #ffffff5e;
  border-bottom: 4px solid #0000005e;
  
  .fixture-id,
  .category,
  .stage {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.25rem;
    font-weight: 500;
    color:white;
    
    svg {
      width: 1.5rem;
      height: 1.5rem;
      fill: currentColor;
    }
  }
  
  .category {
    margin-left: auto;
  }
  
  .stage {
    margin-right: 1rem;
  }
}
