service: pp-coord

image: pp-coord

servers:
  web:
    hosts:
      - 10.8.0.1
    options:
      publish:
        - '7002:7002'

ssh:
  user: pp-admin

proxy:
  host: coordinate.pitchperfect.eu.com
  ssl: true
  app_port: 7002
  healthcheck:
    path: /health
    timeout: 10
    interval: 2

env:
  clear:
    PORT: 7002
    API_URL: https://api.pitchperfect.eu.com

registry:
  server: localhost:5555

builder:
  dockerfile: ./Dockerfile
  local: false
  arch: amd64
  remote: ssh://10.8.0.1
