service: pp-coord-tst

env:
  clear:
    PP_HST: '<%= ENV["PP_HOSTNAME_SSH_TST"] %>'
    PP_USR: '<%= ENV["PP_USR_TST"] %>'
    API_URL: 'http://<%= ENV["PP_HOSTNAME_SSH_TST"] %>:<%= ENV["PP_PORT_API_TST"] %>'

servers:
  web:
    hosts:
      - '<%= ENV["PP_HOSTNAME_SSH_TST"] %>'
    options:
      publish:
        - '<%= ENV["PP_PORT_COORD_TST"] %>:<%= ENV["PP_PORT_COORD"] %>'

ssh:
  user: '<%= ENV["PP_USR_SSH_TST"] %>'

proxy:
  host: test-coordinate.pitchperfect.eu.com
  ssl: true

builder:
  arch: amd64
  remote: 'ssh://<%= ENV["PP_USR_SSH_TST"] %>@<%= ENV["PP_HOSTNAME_SSH_TST"] %>'

