service: pp-coord-tst

env:
  clear:
    PP_DATABASE: '<%= ENV["PP_DATABASE"] %>'
    PP_HST: '<%= ENV["PP_HOSTNAME_SSH_TST"] %>'
    PP_USR: '<%= ENV["PP_USR_TST"] %>'
    API_URL: 'http://<%= ENV["PP_HOSTNAME_SSH_TST"] %>:<%= ENV["PP_PORT_API_TST"] %>'
    PP_PORT_API: '<%= ENV["PP_PORT_COORD"] %>'
    PORT: '<%= ENV["PP_PORT_COORD"] %>'

servers:
  web:
    hosts:
      - '<%= ENV["PP_HOSTNAME_SSH_TST"] %>'
    options:
      publish:
        - '<%= ENV["PP_PORT_COORD_TST"] %>:<%= ENV["PP_PORT_COORD"] %>'

ssh:
  user: '<%= ENV["PP_USR_SSH_TST"] %>'

proxy:
  host: test-coordinate.pitchperfect.eu.com
  ssl: true
  app_port: <%= ENV["PP_PORT_COORD"] %>
  healthcheck:
    path: /health
    timeout: 10
    interval: 2

builder:
  dockerfile: ./Dockerfile
  local: false
  arch: amd64
  remote: 'ssh://<%= ENV["PP_USR_SSH_TST"] %>@<%= ENV["PP_HOSTNAME_SSH_TST"] %>'

