@import "src/shared/css/_colors.scss";
.kanban-details-panel {
  position: absolute;
  top: 9rem;
  bottom: 10rem;
  left: 0;
  right: 0;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0;
  margin: 0;
  background-color: #ffffff;
  padding:0; 
  border-top: 1px solid #dee2e6;
  overflow-y: auto;
  z-index: 20; // Ensure it's above columns but below modals/alerts
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25), 0 3px 3px rgba(0, 0, 0, 0.22);

  .panel-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #eee;
    position: sticky;
    top: 0;
    background-color: #ffffff; // Ensure title background covers scrolled content
    z-index: 1; // Keep title above scrolling content within the panel
  }

  .panel-content {
    h3 {
      font-size: 1.2rem;
      font-weight: 600;
      margin-bottom: 0.75rem;
    }
    p {
      margin-bottom: 0.5rem;
      font-size: 0.95rem;
      line-height: 1.6;

      strong {
        font-weight: 600;
        margin-right: 0.5em;
      }
    }
    .status-planned { color: #007bff; }   // Blue
    .status-started { color: #ffc107; }   // Yellow/Orange
    .status-finished { color: #28a745; }  // Green
  }

  .FixtureBar {
      // style the header bar like cards
      margin-bottom: 0;
      background-color: black;
      color: white;
      padding: 0.5rem 0.75rem;
      gap: 1rem;
      background-color: desaturate(lighten($sc, 22%), 10%); // Highlight selected card
      color: lighten($sc, 80%); // Highlight selected card
      .icon-larger {
        transform: scale(1.2);
      }
      .stage {
        position: absolute;
          right: 0.3rem;
          top: 1rem;
          background: white;
          border: 0.3rem solid #444;
          text-align: center;
          border-radius: 100px;
          height: 7rem;
          width: 7rem;
      }
    }
  
    .details-content-wrapper {
      // content wrapper mimics .kanban-card-content-wrapper
      padding: 0.75rem;
      background: #fafafa;
      border-left: 1rem solid #ddd;
      flex-grow: 1;
    }
  .update-fixture-container {
    border-top: 1px solid #eee;
    margin-top: 1rem;
    .button-grid {
      grid-template-columns: repeat(4, 1fr);
    }
    .space-button {
      width: 85%;
      padding: 10px;
      background: #45493a00;
    }
  }
}

.panel-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 19;
  background-color: rgba(0, 0, 0, 0.1); // Semi-transparent overlay
}
