@import "src/shared/css/_colors.scss";

.kanban-slot {
  margin: 0.8rem 0 0;
  display: flex;
  flex-direction: column;
  min-height: 5rem;

  .slot-card-container {
    // Container for the KanbanCard when it's present below the header
    padding: 0; // Add padding around the card container
    // This padding will be between the slot's background and the card itself.
    // The card itself has a height of 22rem.
    overflow: visible; // Allow toolbox to overhang


  }

  .empty-planned-finished-slot-placeholder {
    flex-grow: 1; // Allow it to take up space if slot can grow
    min-height: 19rem; // Match KanbanCard height for consistent empty slot size
    display: flex;
    align-items: center;
    justify-content: center;
    // border: 1px dashed #ccc; // Optional: visual cue for empty draggable area
  }
}
.kanban-card.selected {
  box-shadow: none;
  overflow: visible; 
}
