@import "src/frontend/shared/css/_colors.scss";

#allowClose {
  height: 3rem;
  margin: 6rem 2rem 2rem 2rem;
  width: 4rem;
}

.pitchView {
    height: 130%;
    >div:nth-child(2) {
        position: absolute;
        margin-top: 14rem;
        margin-left: 0.2rem;
        margin-right: 0.2rem;

        >button {
            width: 100%;
            margin: auto;
            background-color: $pc-light-40;
            color: white;
            margin: auto;
            margin-bottom: 1rem;
            font-size: 3em;
            text-transform: uppercase;
        }
    }
    h2 {
        margin: 0;
        padding: 0;
        grid-template-columns: 120px auto;
        display: grid;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    h2>span:first-child {
        user-select: none;
        margin: 0;
        padding-right: 0 !important;
    }

    h2>span:nth-child(2) {
        margin: 0;
        padding: 0;
        font-size: 2.2rem;
        margin-right: 3rem;
        text-align: left;
    }

    h2>span:hover {
        color: #777;
        cursor: pointer;
    }

    >div {
        >div.fixturesBody {
            margin: 4rem 2rem;
        }
    }
    >div.fixturesBody {
        top: 5rem;
        left: 0;
        .fixturesArea {
            /* Adjust this value to match the header's height */
            padding: 20px;
            overflow-y: scroll;
            /* Enable vertical scrolling for content */
            height: calc(100vh - 40px);
            /* Adjust height based on header's height */
            .fixture {
              margin-bottom: 1rem;
            }
        }
        .noFixtures {
            margin: 0 auto;
            padding: 3rem;
            font-size: 3rem;
            width: 100%;
            color: darken($pc, 20%);
            border-radius: 1rem;
            background-color: lighten(desaturate($pc, 45%), 30%);
        }
    }
}
