/*
To import, add the following to the top of your scss file:
@import "src/frontend/shared/css/_colors.scss";
*/
.LandingPage {
  font-family: Arial, sans-serif;
  background: radial-gradient(circle at top center, #7bb294, #374036 50%);
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0; }
  .LandingPage > * {
    margin: 4rem; }
  .LandingPage button.sudo {
    border: 10px solid red; }
  .LandingPage h1 {
    font-size: 4rem;
    color: #1d4f18;
    text-align: center; }
  .LandingPage header {
    margin-bottom: 20px;
    font-size: 2rem; }
    .LandingPage header table {
      width: 100%;
      border-collapse: collapse; }
      .LandingPage header table tbody tr td {
        padding: 15px;
        border-bottom: 1px solid #ddd;
        font-size: 1.2em; }
        .LandingPage header table tbody tr td:first-child {
          font-weight: bold;
          text-transform: capitalize; }
  .LandingPage footer {
    position: fixed;
    bottom: 3rem;
    right: 1rem;
    left: 1rem;
    text-align: center;
    margin: auto;
    color: rgba(255, 255, 255, 0.5);
    font-size: 2.1em;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    margin-top: 5rem; }
  .LandingPage section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 0rem; }
    .LandingPage section .landing-card {
      width: 100%;
      position: relative;
      padding: 25px;
      height: 350px;
      vertical-align: top;
      background-color: rgba(150, 150, 150, 0.7);
      border: 1px solid #ddd;
      border-radius: 10px;
      text-align: left;
      text-decoration: none;
      color: #333;
      transition: background-color 0.3s ease;
      font-size: 1.2em; }
      .LandingPage section .landing-card:hover {
        background-color: #e6e6e6; }
      .LandingPage section .landing-card .title {
        font-size: 2.8rem;
        margin: 0;
        padding: 0;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 2rem;
        color: white; }
      .LandingPage section .landing-card > div {
        position: absolute;
        top: 3rem;
        left: 50%;
        width: 90%;
        transform: translateX(-50%);
        font-size: 2.2rem; }
        .LandingPage section .landing-card > div p {
          margin: 0 0 15px; }
  .LandingPage section.maintenance h2 {
    color: white;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.8rem; }
  .LandingPage section.maintenance button {
    font-size: 2rem;
    margin: 2rem;
    padding: 2rem;
    border: 0;
    margin-top: 0;
    text-transform: uppercase;
    letter-spacing: 0.3em; }
