/*
To import, add the following to the top of your scss file:
@import "src/shared/css/_colors.scss";
*/
body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  background: radial-gradient(circle at top center, #7bb294, #374036 50%);
  min-height: 100vh;
  /* ensures full page height */ }

table {
  width: 100%;
  border-collapse: collapse; }
