@import "src/shared/css/_colors.scss";

$bg-rad: lighten($pc-light-20, 20%);
* {
  touch-action: manipulation;
}
body {
  background: $bg-dark-40;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  overflow: hidden;
}

