@import "src/shared/css/_colors.scss";

.scoreSelect {
  display: grid;
  grid-template-columns: 2fr 0.5fr 4fr;
  align-items: normal;
  width: 100%;
  padding: 0.5rem;


  .goals {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 20px;
    margin: auto;
  }

  .points {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin-bottom: 20px;
  }

  .header {
    display: grid;
    grid-template-columns: 55px auto 55px;
    background: desaturate(lighten($sc, 20%), 15%);
    gap: 10px;
    margin-bottom: 20px;
    padding: 0.2rem;

    span {
      color: inherit;
      padding: 1.5rem 0;
      text-align: center;
      font-size: 1.5em;
      background: transparent;
    }
  }

  button {
    background: transparent;
    border: none;
    color: white;
    font-size: 2.5rem;
    padding: 0.5rem !important;
    margin: 0 !important;
    cursor: pointer;
    transition: color 0.2s ease;

    &:hover {
      color: #aed624;
    }

    &:disabled {
      color: #666;
      cursor: not-allowed;
    }
  }

  .points>div,
  .goals>div {
    width: 6rem;
    padding: 0.1rem 0.7rem;
    color: white;
    text-align: center;
    vertical-align: top;
  }

  .goals>div {
    background: darken($sc, 5%);
  }

  .points>div {
    background: lighten($sc, 5%);
  }

  .square {
    width: 100%;
    cursor: pointer;

    &.active {
      background-color: #007bff;
      color: white;
    }
  }
}
