.tournamentLayout {
  display: grid;
  //grid-template-areas: "side-panel" "details";
  grid-template-columns: 250px auto;
  width: 100%;
  height: 100vh; // Adjust based on your actual layout
  color: white;
  background-color: #1a1a1a; // This is your main container background color
  padding: 0;
}

active {
  color: red;
}

.sidePanel {
  
  .sideLabel {
    font-weight: bold;
    margin-right: 0.5em; // Space between label and title
    font-weight: bold;
    font-size: 1.2em;
    padding: 0.8rem;
  }

  .groupsSection {
    .groupItem {
      padding: 0.5em 1em;
      background-color: #444; // Non-active group background color
      &:hover {
        background-color: #555; // Hover state background color
      }
      &.active {
        background-color: #4CAF50; // Active group background color
        color: white;
        font-weight: bold;
      }
    }
  }
}

.groupDetailsSection {
  padding: 1em;
  // background-color: #4CAF50; // Details section background color
  // Additional styles for the details section, if necessary
}
