@import "src/shared/css/_colors.scss";

.FixtureBar {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 1px solid #ffffff5e;
  border-bottom: 4px solid #0000005e;
  background: rgba(lighten($pc, 40%), 0.9);
  color: $pc;

  .fixture-id,
  .category,
  .stage {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.95rem;
    font-weight: 500;
    
    svg {
      width: 1.5rem;
      height: 1.5rem;
      fill: currentColor;
    }
  }
  
  .category {
    margin-left: auto;
  }
  
  .stage {
    margin-right: 1rem;
  }
}

.icon-larger {
  transform: scale(1.6);
  transform-origin: center;
  margin-right: 0.5rem;
}