.pinLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif; }
  .pinLogin .thinking {
    color: #999;
    font-size: 2.8rem; }

.pinLogin div {
  margin-bottom: 2rem; }

.pinLogin > div:first-child {
  font-size: 4em;
  color: white; }

.pinLogin > div:nth-child(2) {
  font-size: 2.8em;
  color: red; }

.pinLogin > div:last-child {
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  margin-top: 5rem;
  color: #333; }

.pinContainer {
  display: flex;
  justify-content: center;
  gap: 10px; }

.pinContainer input {
  width: 8rem;
  height: 8rem;
  font-size: 5rem;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 1rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  outline: none; }

.pinContainer input:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5); }
